<div class="depart-btn">
  <i class="ti-menu"></i>
  <span>Tous Categories </span>
  <ul class="depart-hover"  *ngFor="let scatDTO of scategoryListDTOs; let i = index;">
      <li class="active"> <a
        [routerLink]="['/shop']"
        class="nav-link"
        style="cursor: pointer"
      >
        {{ scatDTO.libelle }}
      </a>
    </li>
    <!--   <li><a href="#">Men’s Clothing</a></li>
      <li><a href="#">Underwear</a></li>
      <li><a href="#">Kid's Clothing</a></li>
      <li><a href="#">Brand Fashion</a></li>
      <li><a href="#">Accessories/Shoes</a></li>
      <li><a href="#">Luxury Brands</a></li>
      <li><a href="#">Brand Outdoor Apparel</a></li> -->
  </ul>
</div>
