<div id="main-wrapper">


<!--     <app-backend-navbar></app-backend-navbar>


    <div class="header">

        <app-backend-header></app-backend-header>


    </div>

    <div class="nk-sidebar">
        <app-backend-sidebar></app-backend-sidebar>
    </div>

    <div class="content-body">
        <router-outlet></router-outlet>


   

    <app-backend-footer></app-backend-footer> -->

    <!--  <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div> -->
    <!-- Footer end -->
<!--   </div> -->
</div>
