<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a routerLink="/"><i class="fa fa-home"></i> Accueil</a>
                    <span>Création de compte</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Créer compte</h2>
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <div class="group-input">
                            <label for="username">Nom et Prenom *</label>
                            <!-- <input type="text" id="username"> -->
                            <input name="name" id="name" formControlName="name" required required="" class="form-control" placeholder="Votre Nom" type="text">
                            <div class="alert alert-danger" *ngIf="registrationForm.get('name').invalid
                                && registrationForm.get('name').touched">
                              <div *ngIf="registrationForm.get('name').errors.required">Votre nom est obligatoire</div>
                            </div>
                        </div>
                        <div class="group-input">
                          <label for="username">Nom Utilisateur *</label>
                          <input name="username" id="username" formControlName="username" required="" class="form-control" placeholder="Nom utilisateur" type="text">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('username').invalid
                            && registrationForm.get('name').touched">
                              <div *ngIf="registrationForm.get('username').errors.required">Votre nom utilisateur est obligatoire</div>
                          </div>
                        </div>

                        <div class="group-input">
                          <label for="username">Email *</label>
                          <input name="email" id="email" formControlName="email" required="" class="form-control" placeholder="Votre Email" type="email">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('email').invalid
                            && registrationForm.get('email').touched">
                              <div *ngIf="registrationForm.get('email').errors.required">Votre mot de email est obligatoire</div>
                          </div>
                        </div>

                        <div class="group-input">
                            <label for="pass">Password *</label>
                           <!--  <input type="text" id="pass"> -->
                            <input name="password" required="" class="form-control" placeholder="Votre mot de Password" id="password" formControlName="password" type="password">
                          <div class="alert alert-danger" *ngIf="registrationForm.get('password').invalid
                            && registrationForm.get('password').touched">
                              <div *ngIf="registrationForm.get('password').errors.required">Votre mot de passe est obligatoire</div>
                          </div>
                        </div>
                       <!--  <div class="group-input">
                            <label for="con-pass">Confirm Password *</label>
                            <input type="text" id="con-pass">
                        </div> -->
                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    </form>
                    <div class="switch-login">
                      Vous avez Déjà un compte alors ?  <a routerLink="/auth/login"  class="or-login">Se connecter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
