<aside>

    <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;
  outline: none; margin-left: 0px;
  z-index: 1;
  /* overflow-x: hidden; */

  ">
        <!-- *ngIf="isLoggedIn";-->

        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">
                <!--        <a><img src="http://localhost:8080/avatar/{{id}}" class="img-circle" width="80" routerLink="/profil" *ngIf="img"></a> -->
                <a><img src="../../../assets/admin/img/avatar.jpg" class="img-circle" width="80" routerLink="/profil"></a>
            </p>
            <h5 class="centered">
                <!-- <h2>{{username}}</h2> -->
                <h2>tairou</h2>
            </h5>

            <li class="mt">
                <a routerLink="/backend/dashboard">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="mt">
                <a routerLink="/backend/admin/categories">
                    <i class="fa fa-book"></i>
                    <span>Categories</span>
                </a>
            </li>
            <li class="mt">
                <a routerLink="/backend/admin/scategories">
                    <i class="fa fa-book"></i>
                    <span>Scategories</span>
                </a>
            </li>
            <li class="" routerLinkActive="active">
                <a routerLink="/backend/admin/articles">
                    <i class="fa fa-group"></i>
                    <span>Articles</span>
                </a>

            </li>

            <li class="dcjq-parent-li" routerLinkActive="active">
                <a routerLink="/backend/admin/fournisseurs">
                    <i class="fa fa-user"></i>
                    <span>Fournisseurs</span>
                </a>

            </li>

            <li class="dcjq-parent-li" routerLinkActive="active">
                <a routerLink="/backend/admin/clients">
                    <i class="fa fa-user"></i>
                    <span>Clients</span>
                </a>

            </li>

            <li class="dcjq-parent-li" routerLinkActive="active">
                <a routerLink="/backend/admin/addresses">
                    <i class="fa fa-user"></i>
                    <span>Address Clients</span>

                </a>

            </li>

            <li class="dcjq-parent-li" routerLinkActive="active">
                <a routerLink="/backend/admin/commandes">
                    <i class="fa fa-user"></i>
                    <span>Commandes</span>
                </a>

            </li>

            <li class="dcjq-parent-li" routerLinkActive="active">
                <a routerLink="/backend/admin/livraisons">
                    <i class="fa fa-user"></i>
                    <span>Livraison</span>
                </a>

            </li>

            <li class="dcjq-parent-li" routerLinkActive="active">
                <a routerLink="/backend/admin/notifications">
                    <i class="fa fa-bell"></i>
                    <span>Notifications</span>
                </a>

            </li>

            <mat-accordion class="sidebar" routerLinkActive="active">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="margin-left: -7%;margin-bottom: -3px;width: 30px;">
                            <i class="fa fa-group"></i> <span style="margin-left: 7px;">Utilisateurs</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="vacation-sub-menu">
                        <li><a style="margin-bottom:-10px" routerLink="/backend/admin/utilisateurs"><i class="fa fa-book"></i> List Users </a></li>
                        <li><a routerLink="/backend/admin/scategories"><i class="fa fa-group"></i>Signup</a></li>
                        <li><a routerLink="/backend/admin/articles"><i class="fa fa-group"></i>Edit Profil</a></li>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>



        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
