<h3><i class="fa fa-angle-right"></i> List of fournisseurs</h3>
<div>

    <div class="row">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onAddFournisseur()">Add fournisseur</button>


    </div>

    <table class="table table-striped">

        <thead class="thead-inverse">
            <tr>
                <th>Reference</th>
                <th>Article</th>
                <th>FirstName</th>
                <th>lastName</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let four of fournisseurList | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                <td>{{four?.reference}}</td>
                <td>{{four?.article?.reference}} {{four?.article?.designation}}</td>
                <td>{{four?.firstName}}</td>
                <td>{{four?.lastName}}</td>
                <td>{{four?.address}}</td>
                <td>{{four?.telephoneFournisseur}}</td>
                <td>{{four?.email}}</td>
                <td>{{four?.city}}</td>
                <td>{{four?.country}}</td>

                <td>
                    <div class="container ">
                        <button mat-raised-button class="action-button btn-primary" (click)="addEditFournisseur(four) ">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button class="action-button btn-danger" (click)="onDeleteFournisseur(four)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>
    <div class="pagination ">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>