<h3><i class="fa fa-angle-right"></i> List of articles</h3>
<div>

    <div class="row">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onAddArticle()">Add scategorie</button>

    </div>

    <table class="table table-striped">

        <thead class="thead-inverse">
            <tr>
                <th>Photo</th>
                <th>Reference</th>
                <th>Designation</th>
                <th>Categorie</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Promo</th>
                <th>Selected</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let artDTO of articleListDTO | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                <td>{{artDTO?.photo}}</td>
                <td>{{artDTO?.reference}}</td>
                <td>{{artDTO?.designation}}</td>
                <td>{{artDTO?.scategoryDto?.libelle}}</td>
                <td>{{artDTO?.price}}</td>
                <td>{{artDTO?.quantity}}</td>
                <td>{{artDTO?.promo}}</td>
                <td>{{artDTO?.selected}}</td>

                <td>
                    <div class="container ">
                        <button mat-raised-button class="action-button btn-primary" (click)="addEditArticle(artDTO) ">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button class="action-button btn-danger" (click)="onDeleteArticle(artDTO)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>
    <div class="pagination ">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>