<app-header></app-header>
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a routerLink="/"><i class="fa fa-home"></i> Accueil</a>
          <a routerLink="/shop">Boutique</a>
          <span>Mon compte</span>
        </div>
      </div>
    </div>
  </div>
</div>


<main class="main">
  <!-- <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h3 class="page-title">My Account<span>Shop</span></h3>
    </div>

  </div>

  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
        <li class="breadcrumb-item"><a routerLink="/">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Account</li>
      </ol>
    </div>

  </nav> -->


  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul
              class="nav nav-dashboard flex-column mb-3 mb-md-0"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-dashboard-link"
                  data-toggle="tab"
                  href="#tab-dashboard"
                  role="tab"
                  aria-controls="tab-dashboard"
                  aria-selected="true"
                  >Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-orders-link"
                  data-toggle="tab"
                  href="#tab-orders"
                  role="tab"
                  aria-controls="tab-orders"
                  aria-selected="false"
                  >Mes commandes </a
                >
              </li>
             <!--  <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-downloads-link"
                  data-toggle="tab"
                  href="#tab-downloads"
                  role="tab"
                  aria-controls="tab-downloads"
                  aria-selected="false"
                  >Downloads</a
                >
              </li> -->
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-address-link"
                  data-toggle="tab"
                  href="#tab-address"
                  role="tab"
                  aria-controls="tab-address"
                  aria-selected="false"
                  >Adresses</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-account-link"
                  data-toggle="tab"
                  href="#tab-account"
                  role="tab"
                  aria-controls="tab-account"
                  aria-selected="false"
                  >Details Compte</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Deconnexion</a>
              </li>
            </ul>
          </aside>
          <!-- End .col-lg-3 -->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="tab-dashboard"
                role="tabpanel"
                aria-labelledby="tab-dashboard-link"
                >
                <h4>Dashboard</h4>
                <div class="table-responsive">
                  <table class="table table-bordered" aria-label="">
                    <thead class="thead-dark">
                      <tr>
                        <th>No</th>
                        <th>Client</th>
                        <th>Téléphone</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let comDTO of listCommandeDataDTO | paginate: {itemsPerPage: 10, currentPage: p}; let i = index;">
                        <td> {{ comDTO.numeroCommande }} </td>
                        <td> {{ comDTO.clientDto.firstName }} {{ comDTO.clientDto.lastName }} </td>
                        <td> {{ comDTO.clientDto.mobile }} </td>
                        <td> {{ comDTO.total }} </td>
                        <td> {{ comDTO.status }} </td>
                        <td> {{ comDTO.dateCommande | date:'dd-MM-yyyy' }} </td>
                        <td>
                          <button class="btn"
                            (click)="viewCommande(comDTO)"
                          ><i class="fa fa-file-pdf" aria-hidden="true">  </i></button></td>
                      </tr>

                    </tbody>
                  </table>
                  <div class="pagination ">
                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                  </div>

                </div>

                <!-- .End .tab-pane -->
              </div>

              <div
                class="tab-pane fade"
                id="tab-orders"
                role="tabpanel"
                aria-labelledby="tab-orders-link"
              >
                <h4>Commandes</h4>
                <div class="table-responsive">
                  <table class="table table-bordered" aria-label="">
                    <thead class="thead-dark">
                      <tr>
                        <th>No</th>
                        <th>Article</th>
                        <th>Price</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let comDTO of listCommandeDataDTO; let i = index; ">
                      <tr *ngFor="let lcomDTO of comDTO.lcomms | paginate: {itemsPerPage: 8, currentPage: p}; let i = index;">
                        <td> {{ comDTO.numeroCommande }} </td>
                        <td> {{ lcomDTO.productName }} </td>
                        <td> {{ lcomDTO.price  }} </td>
                        <td> {{ lcomDTO.quantity  }} </td>
                        <td> {{ lcomDTO.price  * lcomDTO.quantity  }} </td>
                        <td> {{ comDTO.dateCommande | date:'dd-MM-yyyy' }} </td>
                        <td><button class="btn">View</button></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination ">
                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                  </div>
                </div>
              </div>

              <div
                class="tab-pane fade"
                id="tab-address"
                role="tabpanel"
                aria-labelledby="tab-address-link"
              >
                <h4>Address Livraison</h4>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="thead-dark">
                      <tr>
                        <th>No</th>
                        <th>Rue</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>Continent</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let comDTO of listCommandeDataDTO | paginate: {itemsPerPage: 10, currentPage: p}; let i = index;">
                        <td> {{ comDTO.numeroCommande }} </td>
                        <td> {{ comDTO.billingAddressDto.rue}} </td>
                        <td> {{ comDTO.billingAddressDto.city  }} </td>
                        <td> {{ comDTO.billingAddressDto.state }} </td>
                        <td> {{ comDTO.billingAddressDto.country }} </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination ">
                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                  </div>
                </div>

              </div>

              <div
                class="tab-pane fade"
                id="tab-account"
                role="tabpanel"
                aria-labelledby="tab-account-link"
              >
                <h4>Votre Profil</h4>
                <form action="#">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Nom *</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="listDataProfil.name"
                        name="name"
                        id="name"
                        #name="ngModel"
                        required
                      />
                    </div>
                    <!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                      <label>Nom utilisateur *</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="listDataProfil.username"
                        name="username"
                        id="username"
                        #username="ngModel"
                        required
                      />
                    </div>
                  </div>
                  <!-- End .row -->

                  <div class="row">
                    <div class="col-sm-6">
                      <label>Téléphone *</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="listDataProfil.mobile"
                        name="mobile"
                        id="mobile"
                        #mobile="ngModel"
                        required
                      />
                    </div>
                    <!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                      <label>Email *</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="listDataProfil.email"
                        name="email"
                        id="email"
                        #email="ngModel"
                        required
                      />
                    </div>
                  </div>
                  <!-- End .row -->

                 <!--  <label>Display Name *</label>
                  <input type="text" class="form-control" required />
                  <small class="form-text"
                    >This will be how your name will be displayed in the account
                    section and in reviews</small
                  >

                  <label>Email address *</label>
                  <input type="email" class="form-control" required />

                  <label
                    >Current password (leave blank to leave unchanged)</label
                  >
                  <input type="password" class="form-control" />

                  <label>New password (leave blank to leave unchanged)</label>
                  <input type="password" class="form-control" />

                  <label>Confirm new password</label>
                  <input type="password" class="form-control mb-2" />

                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>SAVE CHANGES</span>
                    <i class="icon-long-arrow-right"></i>
                  </button> -->
                  &nbsp;&nbsp;
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-block"
                        (click)="update()"
                        style="cursor: pointer">Modifier Compte</button>
                      <br><br>
                    </div>
                  </div>
                </form>


                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-info btn-block"
                      (click)="addEditCustomerPassword(listDataProfil)"
                      style="cursor: pointer">Modifer Password
                    </button>
                  </div>
                </div>
              </div>
              <!-- .End .tab-pane -->
            </div>
          </div>
          <!-- End .col-lg-9 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .dashboard -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
