<div class="header-top">
  <div class="container">
    <div class="ht-left">
      <div class="mail-service">
        <i class="fa fa-envelope"></i> support@2cs.sn
      </div>
      <div class="phone-service">
        <i class="fa fa-phone"></i> +221 77 715 15 14
      </div>
    </div>
    <div class="ht-right">
      <!--  <a routerLink="/auth/login" class="login-panel"><i class="fa fa-user"></i>Login</a> -->
      <div class="lan-selector">
        <div
          class="ddOutOfVision"
          id="countries_msddHolder"
          style="height: 0px; overflow: hidden; position: absolute"
        >
          <!--  <select class="language_drop" name="countries" id="countries" style="width:300px;" tabindex="-1">
                  <option value="yt" data-image="assets/customer/img/flag-1.jpg" data-imagecss="flag yt" data-title="English">English</option>
                  <option value="yu" data-image="assets/customer/img/flag-2.jpg" data-imagecss="flag yu" data-title="Bangladesh">German </option>
              </select -->
        </div>
        <div
          class="dd ddcommon borderRadiusTp"
          id="countries_msdd"
          tabindex="0"
          style="width: 300px"
        >
          <!-- <div class="ddTitle borderRadiusTp">
                          <span class="divider"></span><span class="ddArrow arrowoff"></span>
                          <span class="ddTitleText " id="countries_title"><img src="assets/customer/img/flag-1.jpg" class="flag yt fnone"><span class="ddlabel">English</span>
                          <span class="description" style="display: none;"></span>
                          </span>
                      </div><input id="countries_titleText" type="text" autocomplete="off" class="text shadow borderRadius" style="display: none;">
                      <div class="ddChild ddchild_ border shadow" id="countries_child" style="z-index: 9999; display: none; position: absolute; visibility: visible; height: 51px;">
                          <ul>
                              <li class="enabled _msddli_ selected" title="English"><img src="assets/customer/img/flag-1.jpg" class="flag yt fnone"><span class="ddlabel">English</span>
                                  <div class="clear"></div>
                              </li>
                              <li class="enabled _msddli_" title="Bangladesh"><img src="assets/customer/img/flag-2.jpg" class="flag yu fnone"><span class="ddlabel">German</span>
                                  <div class="clear"></div>
                              </li>
                          </ul>
                      </div> -->
        </div>
      </div>
      <div class="top-social">
        <a href="#"><i class="ti-facebook"></i></a>
        <a href="#"><i class="ti-twitter-alt"></i></a>
        <a href="#"><i class="ti-linkedin"></i></a>
        <a href="#"><i class="ti-pinterest"></i></a>
      </div>
    </div>
  </div>
</div>
